input, textarea {
    font-family: "Book Antiqua", serif, "Times New Roman";
    font-size: 15px;
}

body {
    background-color: #ffe6f2;
    color: #006600;
    font-family: "Book Antiqua", serif, "Times New Roman";
} 

h1 {
    font-size: 2em;
    text-align: center;
}

.myH2 {
    font-size: 1.3em;
    text-align: center;
    font-style: italic;
}

.ulMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #006600;
}

.liMenu {
    float: left;
}

li a {
    display: block;
    color: #ffe6f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #004d00;
}

.active {
    background-color: #004d00;
}

